/build/
/target/
**/.idea
**/*iml

# Eclipse stuff
/.project
/.classpath
/.settings

# The H2 database files
**/*mv.db
**/*trace.db

### Docker ###
docker-compose-local*

pom.xml.releaseBackup

# Locally-generated CI/CD debugging files
PROJECT_INFO.txt
THE_GITHUB_ENV_FILE.txt