# Use the default network olog_default.
services:
  olog:
    build:
      context: .
      dockerfile: Dockerfile.integrationtest
    ports:
      - "8080:8080"
      - "8181:8181"
    depends_on:
      mongo:
        condition: service_started
      elastic:
        condition: service_healthy
    environment:
      AUTHENTICATIONPROVIDERS: embeddedLdap
      SKIPITCOVERAGE: "true"
      MONGO_HOST: mongo
      ELASTICSEARCH_NETWORK_HOST: elasticsearch
    command: >
      /bin/bash -c "
        if [ ${SKIPITCOVERAGE} == false ]; then
          export JAVA_TOOL_OPTIONS=-javaagent:/olog-target/jacocoagent.jar=destfile=/olog-target/jacoco.exec,output=file,append=false
        fi
        java -jar /olog-target/service-olog*.jar --spring.config.name=application-docker
      "

  mongo:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - olog-mongodata:/etc/mongo

  elastic:
    image: elasticsearch:8.2.3
    environment:
      cluster.name: elasticsearch
      bootstrap.memory_lock: "true"
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
      xpack.security.enabled: "false"
      xpack.security.http.ssl.enabled: "false"
    hostname:
      elasticsearch
    ports:
      - 9200:9200
    volumes:
      - olog-esdata:/usr/share/elasticsearch/data
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: curl -f http://elasticsearch:9200/_cluster/health
      interval: 5s
      timeout: 60s
      retries: 10

# Configure persistent storage for mongo and elastic.
volumes:
  olog-esdata:
    driver: local
  olog-mongodata:
    driver: local
